<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
  <h1>Users login:</h1>
  <form action="http://localhost:5000/login" method="post">
         username: <input type="text" id="username" name ="name">  <br>
         password: <input type = "password" id = "password" name = "pass"> <br>
        <button type="submit" id = "button">login</button>
  </form>

  <form action="http://localhost:5000/" method="get">
        <button type="submit" id = "button">back_To_login_page</button>
  </form>

</body>
</html>