<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h1>New user registration:</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    <form action="http://localhost:5000/sign_up" method="post">
         username: <input type="text" id="username" name ="name">  <br>
         password: <input type = "password" id = "password" name = "pass"> <br>
         confirm password: <input type = "password" id = "verify_password" name = "ver_pass"><br>
        <button type="submit" id = "button">submit</button>
     </form>

    <form action="http://localhost:5000/" method="get">
        <button type="submit" id = "button">back_To_index_page</button>
    </form>



</body>
</html>