<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h1>New user registration:</h1>
    <form action="http://localhost:5000/sign_up" method="post">
         username: <input type="text" id="username" name ="name">  <br>
         password: <input type = "password" id = "password" name = "pass"> <br>
         confirm password: <input type = "password" id = "verify_password" name = "ver_pass"><br>
        <button type="submit" id = "button">submit</button>
     </form>

    <script>
        function verification() {
            var pass = document.getElementById("password").value
            var verify_pass = document.getElementById("verify_password").value
            var button = document.getElementById("button").value
            button.onclick = function () {
                if (pass !== verify_pass) {
                alert("passwords do not match")
            } else {
                alert("so far so good")
            }
            }
        }
    </script>

</body>
</html>